{% extends "dashboard/home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block title %}
    Inelibible &mdash;
    Graduation Gear Up &mdash;
    Carthage College
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12">
  {% get_lw_content as ineligible blurbs 3170 %}
  <div id="lw_success_3170">{{ineligible.body|safe}}</div>
  {% ifusergroup cia_group %}
  <p>
    <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=19&id=3170"
      target="_blank">
      <i class="fa fa-pencil green" aria-hidden="true"
      title="Manage the content above in LiveWhale"></i></a>
    <a href="#" data-cid="3170" data-target="lw_success_3170"
      class="clear-cache">
      <i class="fa fa-refresh green" aria-hidden="true"
      title="Clear the cache for this content"></i></a>
  </p>
  {% endifusergroup %}
</div>
{% endblock %}
