<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="data-table">
    <thead>
      <tr>
        <th>
          <span class="d-none">Finaid</span>
          <i class="fa fa-fw fa fa-university" aria-hidden="true" title="Financial Aid"></i>
        </th>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Questionnare"></i>
        </th>
        <th>Diploma Name</th>
        <th>Phonetics</th>
        <th class="d-none">Phonetics File</th>
        <th>Major/Minor</th>
        <th>Mailing Addr</th>
        <th>Permanent Addr</th>
        <th>email</th>
        <th>Phone</th>
        <th>Guardian 1</th>
        <th>Guardian 2</th>
        <th>Spouse Name</th>
        <th>Spouse Class</th>
        <th>Marriage Date</th>
        <th>Status Postgrad</th>
        <th>Grad School Name</th>
        <th>Grad School Prog</th>
        <th>Grad School Addr</th>
        <th>Grad School City</th>
        <th>Grad School State</th>
        <th>Grad School Zip</th>
        <th>Grad School Cntry</th>
        <th>Grad School Email</th>
        <th>Employer Name</th>
        <th>Employer Addr</th>
        <th>Employer City</th>
        <th>Employer State</th>
        <th>Employer Zip</th>
        <th>Employer Cntry</th>
        <th>Employer Email</th>
        <th>Employer Job Title</th>
        <th>Clubs Orgs</th>
        <th>Donation</th>
        <th>Color</th>
        <th>Speaker</th>
        <th>Cap Gown</th>
        <th>Cap Gown Ship</th>
        <th>Cap Gown Addr</th>
        <th>Exit Counseling</th>
        <th>Photo 1</th>
        <th>Photo 2</th>
      </tr>
    </thead>
    <tbody>
    {% for q in quests %}
      <tr>
        <td nowrap>
            {% if q.finaid %}
              {% if q.exit_counseling %}
                <i class="fa fa-check green" title="Exit Counseling"></i>
                <span class="d-none">&#10003;</span>
              {% else %}
              <i class="fa fa-times red" title="Exit Counseling"></i>
              <span class="d-none">&#9747;</span>
              {% endif %}
            {% else %}
            <i class="fa fa-ban red" title="Exit Counseling"></i>
            <span class="d-none">&#8800;</span>
            {% endif %}
        </td>
        <td nowrap>
          <a href="{# url 'detail' q.id #}"
            title="View Submission Details: {{q.user.id}}">
              {{q.created_by.last_name}}, {{q.created_by.first_name}}</a>
        </td>
        <td nowrap>{{q.name_full}}</td>
        <td nowrap>
            {% if q.phonetics %}
            <a href="https://{{server_url}}{{media_url}}/{{q.phonetics}}">
            {{q.name_phonetic|default:"File"}}</a>
            {% else %}
            {{q.name_phonetic|default:"&nbsp;"}}
            {% endif %}
        </td>
        <td class="d-none">
          {% if q.phonetics %}https://{{server_url}}{{media_url}}/{{q.phonetics}}
          {% else %}&nbsp;{% endif %}
        </td>
        <td class="text-center">
            {{q.major_minor}}:
            {{q.student.major_minor}}
        </td>
        <td nowrap>{{q.address_mailing}}</td>
        <td nowrap>{{q.address_permanent}}</td>
        <td nowrap>{{q.email}}</td>
        <td nowrap>{{q.phone}}</td>
        <td nowrap>{{q.guardian1}}</td>
        <td nowrap>{{q.guardian2}}</td>
        <td nowrap>{{q.name_spouse}}</td>
        <td nowrap>{{q.year_spouse}}</td>
        <td nowrap>{{q.marriage_anniversary}}</td>
        <td nowrap>{{q.status_postgrad}}</td>
        <td nowrap>{{q.graduate_school_name}}</td>
        <td nowrap>{{q.graduate_school_program}}</td>
        <td nowrap>{{q.graduate_school_address}}</td>
        <td nowrap>{{q.graduate_school_city}}</td>
        <td nowrap>{{q.graduate_school_state}}</td>
        <td nowrap>{{q.graduate_school_postal_code}}</td>
        <td nowrap>{{q.graduate_school_country}}</td>
        <td nowrap>{{q.graduate_school_email}}</td>
        <td nowrap>{{q.employer_name}}</td>
        <td nowrap>{{q.employer_address}}</td>
        <td nowrap>{{q.employer_city}}</td>
        <td nowrap>{{q.employer_state}}</td>
        <td nowrap>{{q.employer_postal_code}}</td>
        <td nowrap>{{q.employer_country}}</td>
        <td nowrap>{{q.employer_email}}</td>
        <td nowrap>{{q.employer_job_title}}</td>
        <td nowrap>{{q.clubs_orgs}}</td>
        <td nowrap>{{q.donation}}</td>
        <td nowrap>{{q.color}}</td>
        <td nowrap>{{q.speaker}}</td>
        <td nowrap>{{q.cap_gown}}</td>
        <td nowrap>{{q.cap_gown_shipping}}</td>
        <td nowrap>{{q.address_cap_gown}}</td>
        <td nowrap>
          {% if q.exit_counseling %}
          <a href="https://{{server_url}}{{media_url}}{{ q.exit_counseling}}" target="_blank" title="Exit Counseling">
            https://{{server_url}}{{media_url}}{{q.exit_counseling}}</a>
          {% else %}&nbsp;{% endif %}
        </td>
        <td nowrap>
            {% if q.photos.0.phile.name %}
            <a href="https://{{server_url}}{{media_url}}{{q.photos.0.phile.name}}" target="_blank">
             https://{{server_url}}{{media_url}}{{q.photos.0.phile.name}}</a>
            {% endif %}
        </td>
        <td nowrap>
            {% if q.photos.1.phile.name %}
            <a href="https://{{server_url}}{{media_url}}{{q.photos.1.phile.name}}" target="_blank">
             https://{{server_url}}{{media_url}}{{q.photos.1.phile.name}}</a>
            {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>
          <span class="d-none">Finaid</span>
          <i class="fa fa-fw fa fa-university" aria-hidden="true" title="Financial Aid"></i>
        </th>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Questionnare"></i>
        </th>
        <th>Diploma Name</th>
        <th>Phonetics</th>
        <th class="d-none">Phonetics File</th>
        <th>Major/Minor</th>
        <th>Mailing Address</th>
        <th>Permanent Address</th>
        <th>email</th>
        <th>Phone</th>
        <th>Guardian 1</th>
        <th>Guardian 2</th>
        <th>Spouse Name</th>
        <th>Spouse Class</th>
        <th>Marriage Date</th>
        <th>Status Postgrad</th>
        <th>Grad School Name</th>
        <th>Grad School Prog</th>
        <th>Grad School Addr</th>
        <th>Grad School City</th>
        <th>Grad School State</th>
        <th>Grad School Zip</th>
        <th>Grad School Cntry</th>
        <th>Grad School Email</th>
        <th>Employer Name</th>
        <th>Employer Addr</th>
        <th>Employer City</th>
        <th>Employer State</th>
        <th>Employer Zip</th>
        <th>Employer Cntry</th>
        <th>Employer Email</th>
        <th>Employer Job Title</th>
        <th>Clubs Orgs</th>
        <th>Donation</th>
        <th>Color</th>
        <th>Speaker</th>
        <th>Cap Gown</th>
        <th>Cap Gown Ship</th>
        <th>Cap Gown Addr</th>
        <th>Exit Counseling</th>
        <th>Photo 1</th>
        <th>Photo 2</th>
      </tr>
    </tfoot>
  </table>
</div>
