<div class="table-responsive mb-5">
  <table class="table table-striped table-bordered table-hover display" id="data-table">
    <thead>
      <tr>
        <th class="no-sort">
          <span class="d-none">Notes</span>
          <i class="fa fa-fw fa fa-sticky-note-o" aria-hidden="true" title="Thank You Notes"></i>
        </th>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Questionnare"></i>
        </th>
        <th>CID</th>
        <th>Diploma Name</th>
        <th>Phonetics</th>
        <th>Phonetics File</th>
        <th>Major/Minor</th>
        <th>Mailing Addr</th>
        <th>Permanent Addr</th>
        <th>Carthage Email</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Guardian 1</th>
        <th>Guardian 2</th>
        <th>Spouse Name</th>
        <th>Spouse Class</th>
        <th>Marriage Date</th>
        <th>Status Postgrad</th>
        <th>Employment Description</th>
        <th>Employment Relevance</th>
        <th>Employment Org</th>
        <th>Employment Location</th>
        <th>Employment Title</th>
        <th>Employment Salary</th>
        <th>Employment Bonus</th>
        <th>Volunteer Org</th>
        <th>Volunteer Location</th>
        <th>Volunteer Title</th>
        <th>Military Branch</th>
        <th>Military Rank</th>
        <th>ConEd Name</th>
        <th>ConEd Location</th>
        <th>ConEd Program</th>
        <th>ConEd Degree</th>
        <th>Grad School Name</th>
        <th>Grad School Prog</th>
        <th>Grad School Addr</th>
        <th>Grad School City</th>
        <th>Grad School State</th>
        <th>Grad School Zip</th>
        <th>Grad School Cntry</th>
        <th>Grad School Email</th>
        <th>Employer Name</th>
        <th>Employer Addr</th>
        <th>Employer City</th>
        <th>Employer State</th>
        <th>Employer Zip</th>
        <th>Employer Cntry</th>
        <th>Employer Email</th>
        <th>Employer Job Title</th>
        <th>Clubs Orgs</th>
        <th>Donation</th>
        <th>Color</th>
        <th>Speaker</th>
        <th>Cap Gown</th>
        <th>Cap Gown Ship</th>
        <th>Cap Gown Addr</th>
        <th>Exit Counseling</th>
        <th>Created At</th>
      </tr>
    </thead>
    <tbody>
    {% for q in quests %}
      <tr>
        <td class="text-center" nowrap>
          <i class="fa {% if q.notes.all %}fa-commenting yellow{% else %} fa-commenting-o green{% endif %}" data-html="true" data-content="{% for note in q.notes.all %}<div class='p-3 {% cycle 'blue-box' 'lightgrey-box' %}'><strong>To:&nbsp;</strong>{% for to in note.recipients.all %}{{to.last_name}}, {{to.first_name}}&nbsp;{% endfor %} {{note.body|escape}}</div>{% endfor %}"></i>
        </td>
        <td nowrap>
          <a href="mailto:{{q.created_by.email}}"
            title="Email student: {{q.created_by.id}}">
              {{q.created_by.last_name}}, {{q.created_by.first_name}}</a>
        </td>
        <td nowrap>{{q.created_by.id}}</td>
        <td nowrap>{{q.name_full}}</td>
        <td nowrap>
            {% if q.phonetics %}
            <a href="https://{{server_url}}{{media_url}}{{q.phonetics.name}}">
            {{q.name_phonetic|default:"File"}}</a>
            {% else %}
            {{q.name_phonetic|default:"&nbsp;"}}
            {% endif %}
        </td>
        <td>
          {% if q.phonetics %}https://{{server_url}}{{media_url}}{{q.phonetics.name}}
          {% else %}&nbsp;{% endif %}
        </td>
        <td class="text-center" data-toggle="popover" data-placement="top" data-content="Majors: {% if q.student.major1 %}{{q.student.major1}},{% endif %}{% if q.student.major2 %}{{q.student.major2}},{% endif %}{% if q.student.major3 %}{{q.student.major3}}{% endif %} Minors: {% if q.student.minor1 %}{{q.student.minor1}},{% endif %}{% if q.student.minor2 %}{{q.student.minor2}},{% endif %}{% if q.student.minor3 %}{{q.student.minor3}}{% endif %}">
            {{q.major_minor}}
        </td>
        <td nowrap>{{q.address_mailing|default:"&nbsp;"}}</td>
        <td nowrap>{{q.address_permanent|default:"&nbsp;"}}</td>
        <td nowrap>{{q.created_by.email}}</td>
        <td nowrap>{{q.email|default:"&nbsp;"}}</td>
        <td nowrap>{{q.phone|default:"&nbsp;"}}</td>
        <td nowrap>{{q.guardian1|default:"&nbsp;"}}</td>
        <td nowrap>{{q.guardian2|default:"&nbsp;"}}</td>
        <td nowrap>{{q.name_spouse|default:"&nbsp;"}}</td>
        <td nowrap>{{q.year_spouse|default:"&nbsp;"}}</td>
        <td nowrap>{{q.marriage_anniversary|default:"&nbsp;"}}</td>
        <td nowrap>{{q.status_postgrad|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_description|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_relevance|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_org|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_location|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_title|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_salary|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employment_bonus|default:"&nbsp;"}}</td>
        <td nowrap>{{q.volunteer_org|default:"&nbsp;"}}</td>
        <td nowrap>{{q.volunteer_location|default:"&nbsp;"}}</td>
        <td nowrap>{{q.volunteer_title|default:"&nbsp;"}}</td>
        <td nowrap>{{q.military_branch|default:"&nbsp;"}}</td>
        <td nowrap>{{q.military_rank|default:"&nbsp;"}}</td>
        <td nowrap>{{q.coned_name|default:"&nbsp;"}}</td>
        <td nowrap>{{q.coned_location|default:"&nbsp;"}}</td>
        <td nowrap>{{q.coned_program|default:"&nbsp;"}}</td>
        <td nowrap>{{q.coned_degree|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_name|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_program|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_address|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_city|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_state|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_postal_code|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_country|default:"&nbsp;"}}</td>
        <td nowrap>{{q.graduate_school_email|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_name|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_address|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_city|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_state|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_postal_code|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_country|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_email|default:"&nbsp;"}}</td>
        <td nowrap>{{q.employer_job_title|default:"&nbsp;"}}</td>
        <td nowrap>{{q.clubs_orgs|default:"&nbsp;"}}</td>
        <td nowrap>{{q.donation|default:"&nbsp;"}}</td>
        <td nowrap>{{q.color|default:"&nbsp;"}}</td>
        <td nowrap>{{q.speaker|default:"&nbsp;"}}</td>
        <td nowrap>{{q.cap_gown|default:"&nbsp;"}}</td>
        <td nowrap>{{q.cap_gown_shipping|default:"&nbsp;"}}</td>
        <td nowrap>{{q.address_cap_gown|default:"&nbsp;"}}</td>
        <td class="text-center">
          {% if q.exit_counseling %}
          <a href="https://{{server_url}}{{media_url}}{{ q.exit_counseling}}" target="_blank" title="Exit Counseling">
            <i class="fa fa-fw fa fa-graduation-cap" aria-hidden="true"><span style="display:none;">Exit Counseling</span></i></a>
          <span class="d-none">
            https://{{server_url}}{{media_url}}{{q.exit_counseling}}
          </span>
          {% else %}&nbsp;{% endif %}
        </td>
        <td>{{q.created_at|date:'Y-m-d H:i:s'}}</td>
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th class="no-sort">
          <span class="d-none">Notes</span>
          <i class="fa fa-fw fa fa-sticky-note-o" aria-hidden="true" title="Thank You Notes"></i>
        </th>
        <th>
          Student
          <i class="fa fa-eye green blue-tooltip" data-toggle="tooltip"
            data-placement="top" aria-hidden="true"
            title="View Questionnare"></i>
        </th>
        <th>CID</th>
        <th>Diploma Name</th>
        <th>Phonetics</th>
        <th>Phonetics File</th>
        <th>Major/Minor</th>
        <th>Mailing Address</th>
        <th>Permanent Address</th>
        <th>Carthage Email</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Guardian 1</th>
        <th>Guardian 2</th>
        <th>Spouse Name</th>
        <th>Spouse Class</th>
        <th>Marriage Date</th>
        <th>Status Postgrad</th>
        <th>Employment Description</th>
        <th>Employment Relevance</th>
        <th>Employment Org</th>
        <th>Employment Location</th>
        <th>Employment Title</th>
        <th>Employment Salary</th>
        <th>Employment Bonus</th>
        <th>Volunteer Org</th>
        <th>Volunteer Location</th>
        <th>Volunteer Title</th>
        <th>Military Branch</th>
        <th>Military Rank</th>
        <th>ConEd Name</th>
        <th>ConEd Location</th>
        <th>ConEd Program</th>
        <th>ConEd Degree</th>
        <th>Grad School Name</th>
        <th>Grad School Prog</th>
        <th>Grad School Addr</th>
        <th>Grad School City</th>
        <th>Grad School State</th>
        <th>Grad School Zip</th>
        <th>Grad School Cntry</th>
        <th>Grad School Email</th>
        <th>Employer Name</th>
        <th>Employer Addr</th>
        <th>Employer City</th>
        <th>Employer State</th>
        <th>Employer Zip</th>
        <th>Employer Cntry</th>
        <th>Employer Email</th>
        <th>Employer Job Title</th>
        <th>Clubs Orgs</th>
        <th>Donation</th>
        <th>Color</th>
        <th>Speaker</th>
        <th>Cap Gown</th>
        <th>Cap Gown Ship</th>
        <th>Cap Gown Addr</th>
        <th>Exit Counseling</th>
        <th>Created At</th>
      </tr>
    </tfoot>
  </table>
</div>
