{% extends "home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block extra_style %}
{{block.super}}
<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"
  rel="stylesheet" type="text/css">
<link href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css"
  rel="stylesheet" type="text/css">
{% endblock %}
{% block extra_javascript %}
{{ block.super }}
<script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.print.min.js"
  type="text/javascript" charset="utf-8" language="javascript"></script>
<script type="text/javascript">
$(function() {
  $("body").toggleClass("sidenav-toggled");
});
</script>
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-8">
      <h1>Graduation Gear Up</h1>
      {% get_lw_content as eligible blurbs 2921 %}
      <div id="lw_success_2921">{{eligible.body|safe}}</div>
    </div>
    <div class="col-lg-12">
      {% ifusergroup cia_group %}
      <p>
        <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=356&id=2921"
          target="_blank">
          <i class="fa fa-pencil green" aria-hidden="true"
          title="Manage the content above in LiveWhale"></i></a>
        <a href="#" data-cid="2921" data-target="lw_success_2921"
          class="clear-cache">
          <i class="fa fa-refresh green" aria-hidden="true"
          title="Clear the cache for this content"></i></a>
      </p>
      <div class="panel panel-default">
        <div class="panel-body" id="gearup-data-panel">
          {% if quests %}
          {% include "dashboard/data.inc.html" %}
          {% else %}
            <ul class="list-group w-75">
              <li class="list-group-item p-2" title="Questionnaires">
                <a href="{% url 'dashboard_home' %}" title="Questionnaire Data">
                  <i class="fa fa-fw fa fa-wpforms" aria-hidden="true"></i>
                    <span class="nav-link-text">Questionnaire Data</span></a>
              </li>
            </ul>
          {% endif %}
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
      {% else %}
      <ul class="list-group w-75">
        <li class="list-group-item p-2" title="Submit Questionnaire">
          <span class="float-right">
          {% if user.questionnaire %}
            <i class="fa fa-check green" title="Questionnaire"></i>
          {% else %}
            <i class="fa fa-times red" title="Questionnaire" style="margin-right:3px;"></i>
          {% endif %}
          </span>
          <a href="{% url 'questionnaire' %}" title="Submit Questionnaire">
          <i class="fa fa-fw fa fa-wpforms" aria-hidden="true"></i>
          <span class="nav-link-text">Questionnaire</span></a>
        </li>
        {% if finaid %}
        <li class="list-group-item p-2" title="Exit Counseling">
          {% if user.questionnaire.exit_counseling %}
            <span class="float-right">
            <i class="fa fa-check green" title="Exit Counseling"></i>
            </span>
            <a href="https://{{server_url}}{{media_url}}/{{ user.questionnaire.exit_counseling}}" target="_blank" title="Exit Counseling">
            <i class="fa fa-fw fa fa-university" aria-hidden="true"></i>
            <span class="nav-link-text">Exit Counseling</span></a>
          {% else %}
            <span class="float-right">
            <i class="fa fa-times red" title="Exit Counseling" style="margin-right:3px;"></i>
            </span>
            <a href="{% url 'counseling' %}" title="Exit Counseling">
            <i class="fa fa-fw fa fa-university" aria-hidden="true"></i>
            <span class="nav-link-text">Exit Counseling</span></a>
          {% endif %}
        </li>
        {% endif %}
        <li class="list-group-item p-2" data-toggle="tooltip" data-placement="right" title="Photo Submission">
          <span class="float-right">
          {% if user.questionnaire.photos %}
            <i class="fa fa-check green" title=""></i>
          {% else %}
            <i class="fa fa-times red" title="Photo Submission" style="margin-right:3px;"></i>
          {% endif %}
          </span>
          <a href="{% url 'photos' %}" title="Photo Submission">
            <i class="fa fa-fw fa fa-camera-retro" aria-hidden="true"></i>
            <span class="nav-link-text">Photo Submission</span></a>
        </li>
        <li class="list-group-item p-2" data-toggle="tooltip" data-placement="right" title="Cap and Gown">
          <span class="float-right">
          {% if user.questionnaire.cap_gown %}
            <i class="fa fa-check green" title=""></i>
          {% else %}
            <i class="fa fa-times red" title="Cap and Gown" style="margin-right:3px;"></i>
          {% endif %}
          </span>
          <a href="{% url 'capgown' %}" title="Cap and Gown">
            <i class="fa fa-fw fa fa-graduation-cap" aria-hidden="true"></i>
            <span class="nav-link-text">Cap and Gown</span></a>
        </li>
        <li class="list-group-item p-2" title="Submit Thank You Notes">
          <span class="float-right">
          {% if user.questionnaire.notes.all %}
            <i class="fa fa-check green" title="Thank You Notes"></i>
          {% else %}
            <i class="fa fa-times red" title="Thank You Notes" style="margin-right:3px;"></i>
          {% endif %}
          </span>
          <a href="{% url 'notes' %}" title="Submit Thank You Notes">
          <i class="fa fa-fw fa fa-sticky-note-o" aria-hidden="true"></i>
          <span class="nav-link-text">Thank You Notes</span></a>
        </li>
        <li class="list-group-item p-2" title="Class Gift">
          <span class="float-right">
          {% if user.questionnaire %}
            {% if user.questionnaire.donation == 'Yes' %}
              <i class="fa fa-check green" title="Class Gift"></i>
            {% else %}
              <i class="fa fa-check yellow" title="Class Gift"></i>
            {% endif %}
          {% else %}
            <i class="fa fa-times red" title="Class Gift" style="margin-right:3px;"></i>
          {% endif %}
          </span>
          <a href="{% url 'donation' %}" title="Donate to Endowed Scholarship">
          <i class="fa fa-fw fa fa-gift" aria-hidden="true"></i>
          <span class="nav-link-text">Class Gift</span></a>
        </li>
      </ul>
      {% endifusergroup %}
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock content %}
{% block modal %}{% endblock %}
