{% extends "home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block title %}
  Thank You Notes &mdash;
  Graduation Gear Up &mdash;
  Carthage College
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12 mb-5">
  <div class="col-md-12">
  <h3>Thank You Notes</h3>
  {% get_lw_content as notes blurbs 2930 %}
  <div id="lw_success">{{notes.body|safe}}</div>
  {% ifusergroup cia_group %}
  <p>
  <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=356&id=2930"
    target="_blank">
    <i class="fa fa-pencil green" aria-hidden="true"
      title="Manage the content above in LiveWhale"></i></a>
  <a href="#" data-cid="2930" data-target="lw_success" class="clear-cache">
    <i class="fa fa-refresh green" aria-hidden="true"
      title="Clear the cache for this content"></i></a>
  </p>
  {% endifusergroup %}
  </div>
  {% include "includes/errors_text.html" %}
  <form method="post" action="." class="form" id="profile">
    {% csrf_token %}
    <fieldset class="blockLabels">
      <ol>
        {% for field in form.visible_fields %}
          {% include "form_field.inc.html" %}
        {% endfor %}
      </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
  </form>
  <h4>Your Notes</h4>
  {% for note in user.questionnaire.notes.all %}
  <div class="p-3 {% cycle 'blue-box' 'lightgrey-box'%}">
    <strong>To:</strong>
    {% for to in note.recipients.all %}
    {{to.last_name}}, {{to.first_name}}
    {% endfor %}<br>
    {{note.body|safe}}
  </div>
  {% endfor %}
  <p>&nbsp;</p>
</div>
{% endblock %}
