{% extends "dashboard/home.html" %}
{% block title %}
  Graduation Gear Up &mdash;
  Carthage College
{% endblock %}
{% block content %}
<div class="forms-container col-lg-10 col-md-10 col-sm-12 col-xs-12">
  <h3>Graduation Gear Up</h3>
  {% include "includes/required_text.html" %}
  {% include "includes/errors_text.html" %}
  <form method="post" action="." autocomplete="false" class="form"
    enctype="multipart/form-data" id="profile">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
      {% include "form_field.inc.html" %}
    {% endfor %}
    <fieldset class="blockLabels">
      <ol style="padding:0 0 0 4px;">
        {% for field in form.visible_fields %}
          {# if field.name == "clubs_orgs" #}
          {#orgs#}
          {# endif #}
          {% if field.name == "major_minor" %}
          <li class="form-group ctrlHolder" style="font-size:.9em;">
            <strong style="color:green;">Majors:</strong>
            {% if student.major1 %}{{student.major1}},{% endif %}
            {% if student.major2 %}{{student.major2}},{% endif %}
            {% if student.major3 %}{{student.major3}}{% endif %}
            <br>
            <strong style="color:green;">Minors:</strong>
            {% if student.minor1 %}{{student.minor1}},{% endif %}
            {% if student.minor2 %}{{student.minor2}},{% endif %}
            {% if student.minor3 %}{{student.minor3}}{% endif %}
          </li>
          {% endif %}
          {% include "form_field.inc.html" %}
          {% if field.name == "name_fohnetic" %}
            {% for field in pho_form.visible_fields %}
              {% include "form_field.inc.html" %}
            {% endfor %}
          {% endif %}
          {% if field.name == "status_postgrad" %}
          </fieldset>
          <fieldset class="blockLabels">
            <legend>
              Please complete employer / graduate school details as applicable.
            </legend>
            <ol style="padding:0 0 0 4px;">
          {% endif %}
          {% if field.name == "employer_job_title" %}
          </fieldset>
          <fieldset class="blockLabels">
            <ol style="padding:0 0 0 4px;">
          {% endif %}
        {% endfor %}
      </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
  </form>
  <p>&nbsp;</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">
  {% include "gearup/help_text.html" %}
</div>
{% endblock %}
