{% extends "home.html" %}
{% load get_api_profile %}
{% block title %}
  Graduation Gear Up &mdash;
  Carthage College
{% endblock %}
{% block javascript %}
{{block.super}}
<script type="text/javascript">

  //var dict = {
   const status_dict = {
    id_status_postgrad_0: 'Employed',
    id_status_postgrad_1: 'Employed',
    id_status_postgrad_2: 'job',
    id_status_postgrad_3: 'volunteer',
    id_status_postgrad_4: 'military',
    id_status_postgrad_5: 'education'
  };

  previous_val = '';
  status_postgrad = '{{form.status_postgrad.value}}';
  for (const [key, valor] of Object.entries(status_dict)) {
    domid = '#'+ valor;
    console.log(domid);
    //if (valor in status_postgrad) {
    if (status_postgrad.includes(valor)) {
      console.log('here');
      $(domid).show();
    } else {
      if (valor != previous_val) {
        $(domid).hide();
      }
    }
    previous_val = valor;
  }

  $('input[name="status_postgrad"]').click(function() {
    $dis = $(this);
    $radio = $dis.attr('id');
    previous_val = '';
    for (const [key, valor] of Object.entries(status_dict)) {
      domid = '#'+ valor;
      if ($radio == key) {
        $(domid).show();
      } else {
        if (valor != previous_val) {
          $(domid).hide();
        }
      }
      previous_val = valor;
    }
  });

  $('form#profile').on('submit', function (e) {
    $('#id_submit').prop('disabled', true);
    return true;
  });
</script>
{% endblock %}
{% block content %}
<div class="forms-container col-lg-8 col-md-8 col-sm-12 col-xs-12">
  <h3>Graduation Gear Up</h3>
  {% get_api_profile as profile student cid %}
  {% include "includes/required_text.html" %}
  {% include "includes/errors_text.html" %}
  <form method="post" action="." autocomplete="false" class="form" enctype="multipart/form-data" id="profile">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
      {% include "form_field.inc.html" %}
    {% endfor %}
    <fieldset class="blockLabels">
      <ol style="padding:0 0 0 4px;">
        {% for field in form.visible_fields %}
          {% if field.name == "major_minor" %}
          <li class="form-group ctrlHolder" style="font-size:.9em;">
            <strong style="color:green;">Majors:</strong>
            {{profile.majors}}
            <br>
            <strong style="color:green;">Minors:</strong>
            {{profile.minors}}
          </li>
          {% endif %}
          {% include "form_field.inc.html" %}
          {% if field.name == "name_phonetic" %}
            {% for field in pho_form.visible_fields %}
              {% include "form_field.inc.html" %}
            {% endfor %}
          {% endif %}
          {% if field.name == "status_postgrad" %}
          <li class="form-group ctrlHolder" id="Employed">
          <ol style="padding:0 0 0 4px;">
          <li class="form-group ctrlHolder" style="border-bottom: 1px #000 solid;padding-bottom:4px;">&nbsp;</li>
          {% endif %}
          {% if field.name == "employment_relevance" %}
          </ol>
          </li>
          <li class="form-group ctrlHolder" id="job">
          <ol style="padding:0 0 0 4px;">
          <li class="form-group ctrlHolder" style="border-bottom: 1px #000 solid;padding-bottom:4px;"><b>If employed, please provide the following information concerning your employment.</b></li>
          {% endif %}
          {% if field.name == "employment_bonus" %}
          </ol>
          </li>
          <li class="form-group ctrlHolder" id="volunteer">
          <ol style="padding:0 0 0 4px;">
          <li class="form-group ctrlHolder" style="border-bottom: 1px #000 solid;padding-bottom:4px;"><b>If your PRIMARY status is participating in a volunteer or service program, please provide the following information about your assignment </b></li>
          {% endif %}
          {% if field.name == "volunteer_title" %}
          </ol>
          </li>
          <li class="form-group ctrlHolder" id="military">
          <ol style="padding:0 0 0 4px;">
          <li class="form-group ctrlHolder" style="border-bottom: 1px #000 solid;padding-bottom:4px;"><b>If your PRIMARY status is serving with the U.S. military, please provide the following information about your assignment</b></li>
          {% endif %}
          {% if field.name == "military_rank" %}
          </ol>
          </li>
          <li class="form-group ctrlHolder" id="education">
          <ol style="padding:0 0 0 4px;">
          <li class="form-group ctrlHolder" style="border-bottom: 1px #000 solid;padding-bottom:4px;"><b>If your PRIMARY status is enrolled in a program of continuing education, please provide the following information concerning your education</b></li>
          {% endif %}
          {% if field.name == "coned_degree" %}
          </ol></li>
          </ol>
          </fieldset>
          <fieldset class="blockLabels">
            <legend>
              Please complete employer / graduate school details as applicable.
            </legend>
            <ol style="padding:0 0 0 4px;">
          {% endif %}
          {% if field.name == "employer_job_title" %}
          </ol>
          </fieldset>
          <fieldset class="blockLabels">
            <ol style="padding:0 0 0 4px;">
          {% endif %}
        {% endfor %}
      </ol>
    </fieldset>
    {% include "form_submit.inc.html" %}
  </form>
  <p>&nbsp;</p>
</div>
<div class="col-lg-4 col-md-4 col-sm-12">
  {% include "gearup/help_text.html" %}
</div>
{% endblock %}
