{% extends "dashboard/home.html" %}
{% load ifusergroup %}
{% load livewhale_api %}
{% block title %}
  Graduation Gear Up &mdash;
  Carthage College
{% endblock %}
{% block content %}
<div class="container mb-4">
  <div class="col-md-8 card">
  {% get_lw_content as success blurbs 2923 %}
  <div id="lw_success">{{success.body|safe}}</div>
  {% ifusergroup cia_group %}
  <p>
  <a href="https://www.carthage.edu/livewhale/?blurbs_edit&tid=356&id=2923"
    target="_blank">
    <i class="fa fa-pencil green" aria-hidden="true"
      title="Manage the content above in LiveWhale"></i></a>
  <a href="#" data-cid="2923" data-target="lw_success" class="clear-cache">
    <i class="fa fa-refresh green" aria-hidden="true"
      title="Clear the cache for this content"></i></a>
  </p>
  {% endifusergroup %}
  </div>
</div>
{% endblock %}
